<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">    
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">    
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    @RenderSection("head",false)
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_Navbar")
        @Html.Partial("_Sidebar")
        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">                            
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </section>
        </div>
        @Html.Partial("_Footer")
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
    </div>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/adminlte.min.js"></script>
    <script src="~/js/demo.js"></script>
    <script src="~/plugins/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>    
    @RenderSection("scripts", false)
</body>
</html>
